.modifiers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.modifiers div {
    border: 1px solid black;
}

.modifiers h3 {
    margin-top: 2em;
    font-size: 1.5rem;
}

@media screen and (max-width: 1440px) {
    .modifiers {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1110px) {
    .modifiers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 660px) {
    .modifiers {
        grid-template-columns: repeat(1, 1fr);
    }
}